<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/output.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Navbar -->
  <nav class=" h-20 flex bg-transparent items-center fixed  w-full z-50">
    <div class="lg:container mx-auto flex items-center px-4">
      <div class="bg-white rounded-full h-10 w-10 "></div>
      <label class="search relative mx-auto">
        <a href="#"class="absolute flex items-center right-5 font-sans inset-y-0">
          <img src="../img/iconsax/Linear/searchnormal1.png" alt="iconSearch" class=" " width="25px">
        </a>
        <input type="text" name="search" placeholder="Search" class="px-5 h-10 w-96 rounded-full mx-auto bg-gray-400 active:bg-gray-500 text-white placeholder:text-white"/>
      </label>
      <button class="hover:bg-blue-700 hover:text-white border-2 border-blue-700 w-24 h-10 rounded-full text-blue-700 font-bold">LOGIN</button>
    </div>
  </nav>
    <!-- end Navbar -->
    
    <!-- Jumbotron -->
    <section class="h-152 w-full ">
      <div class=" w-full h-5/6  mx-auto relative">
        <div class="bg-gradient-to-t from-black w-full h-full  rounded-b-3xl absolute z-20"></div>
        <img src="../../original-5af7a648f6f0cb20e52dc1c3d38f8059.jpg" alt="Movies"  class=" object-cover object-center h-full w-full rounded-b-3xl absolute z-10">
        <div class="absolute z-30 text-white left-36 bottom-9.75">
          <h1 class="font-['Montserrat'] font-bold text-6xl">
            Movies Name
          </h1>
          <p class="text-sm font-['Poppins'] w-139 h-20 mt-1">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur voluptas praesentium optio a quaerat dicta. Amet officia id eligendi tempore corporis iure et unde sed perferendis? Ab, omnis id? Sunt.  
          </p>
        </div>
        <div id="pagination" class="absolute z-50 bottom-10 w-full">
          <ul class="list-none flex justify-center">
            <li><button class="bg-white rounded-full w-3 h-3  mx-1 hover:bg-gray-300 focus:bg-gray-400" type="button"></button></li>
            <li><button class="bg-white rounded-full w-3 h-3  mx-1 hover:bg-gray-300 focus:bg-gray-400" type="button"></button></li>
            <li><button class="bg-white rounded-full w-3 h-3  mx-1 hover:bg-gray-300 focus:bg-gray-400" type="button"></button></li>
            <li><button class="bg-white rounded-full w-3 h-3  mx-1 hover:bg-gray-300 focus:bg-gray-400" type="button"></button></li>
            <li><button class="bg-white rounded-full w-3 h-3  mx-1 hover:bg-gray-300 focus:bg-gray-400" type="button"></button></li>
          </ul>
        </div>
      </div>
    </section>
    <!-- end Jumbotron -->

    <section class="h-screen w-full">
      <div class="lg:container px-10 mx-auto">
        <div id="group1" class="flex items-center w-full border border-black justify-between">
          <h3 class="text-4xl font-bold me-4 ">
            Trendings
          </h3>
          <!-- <div class="h-1 bg-black rounded-full w-full "></div> -->
          <div id="prevNext" class="flex border border-black">
            <button class="me-10" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M25 33.2L14.1333 22.3333C12.85 21.05 12.85 18.95 14.1333 17.6667L25 6.79999" stroke="black" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <button type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <path d="M14.85 33.2L25.7166 22.3333C27 21.05 27 18.95 25.7166 17.6667L14.85 6.79999" stroke="black" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </butt>
          </div>
        </div>
      </div>

    </section>

    <script
    src="https://code.jquery.com/jquery-3.7.0.js"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
    <script src="../js/script.js"></script>
</body>
</html>